.titleName {
  font-size: 28px;
  font-weight: 500;
}
.inputWidth {
  width: 50%;
  margin-top: 5%;
}
.fieldsBackgroundcolor{
    background-color: #fafafa;
    padding: 10px 30px 30px 30px;
    border-radius: 20px;
    margin-top: 3%;
}
.register-btn {
    background-color: #39607F;
    width: 30%;
    border-radius: 0px 25px 25px 25px !important;
    padding: 8px 30px 8px 30px !important;
    font-weight: 500 !important;
    color: #ffffff !important;
    margin-top: 5%;
    &:hover{
        background-color: #39607F;
    }
  }